body {
    background-image: url('https://raw.githubusercontent.com/sonallycecilia/interface-grafica-P4/main/projeto1/background-survey-form.jpg?token=GHSAT0AAAAAACV6J2FVPFSAB4SICMZ66V26ZWSVD4Q');
    background-color: #f1deea;
    background-repeat: repeat;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Text Style */

h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: Courier, monospace;
    text-align: center;
}

h2{
    font-size: 25px;
    text-align: left;
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-size: 25px;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}

label {
    display: block;
    margin-top: 20px;
}

h1, h2, p, label{
    color: white;
}

/* Container Style */

fieldset {
    background-color: #8B008B;
    width: 50%;
    margin: 20px auto; /* Centraliza o fieldset horizontalmente */
    padding: 20px;
    border: 20px solid transparent;
    border-radius: 20px;
}

input, textarea, select {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    min-height: 2em;
    color: black;
    font-size: 15px;
}

.inline {
    width: auto;
    margin-right: 5px; /* Espaçamento entre o botão e o texto */
    vertical-align: middle;
    min-height: 0;
}

.options {
    font-size: 15px;
}

input[type="radio"],
input[type="checkbox"]{
    padding: 0;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 0px;
}
