body {
    background-image: url(https://img.freepik.com/vetores-gratis/codigo-binario-abstrato-ou-papel-de-parede-branco-de-digitos-para-hacking-na-internet_1017-45494.jpg?t=st=1725056822~exp=1725060422~hmac=ab9898aa109cd3e9662212e574e20421fdf7ae6cf02f3dff5afd1eb59a947139&w=996);
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

fieldset {
    background-color: #8B008B;
    width: 50%;
    margin: 0 auto; /* Centraliza o fieldset horizontalmente */
    padding: 20px;
    border: 2px solid white; /* Corrigido */
}

.title {
    border-bottom: 5px solid white;
}

h1 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: Courier, monospace;
    color: white;
    text-align: center;
}

p {
    font-size: 25px;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

label {
    display: block;
    color: white;
    margin-top: 20px;
}

input, textarea, select {
    margin: 5px 0 0 0;
    width: 100%;
    min-height: 2em;
    color: black;
    font-size: 15px;
}

.inline {
    width: auto;
    margin-right: 8px; /* Espaçamento entre o botão e o texto */
    vertical-align: middle;
}

.options {
    font-size: 15px;
    margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"]{
    padding: 0;
    vertical-align: middle;
}
